<a href="https://colab.research.google.com/github/iam-jatoi/Google_Colab/blob/main/OOP_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OOP - OBJECT ORIENTED PROGRAMMING**

In [ ]:
# class Students:
#      name: str = ""   # This is called Attribute which is inside class
#      age: int
#      roll_no: int

# def _init_(self, user_name, age, roll_no): # dunder \ magic
#      self.name = user_name
#      self.age = age
#      self.roll_no

# # #instance
# student1 = Students("Jabbar", 30, 1234) #Passing argument

**Encapsulation -> Means Hide Karna**

In [ ]:
#1. Encapsulation -> means Hide karna

class Person:

    def _init_(self, user_name, user_age, roll_no): # Constructor
        self.name = user_name # these are attributes
        self.age = user_age
        self.__roll_no = roll_no # access modifiers (Public, Private, Protected)




    def get_roll_no(self): #getter function
        return self.__roll_no # -> 1234

# #instance
person1 = Person("Jabbar", 30, 1234) #Passing argument
print(person1.get_roll_no())

**ABSTRACTION**

In [ ]:
#2. Abstraction -> User ko jitni information chahiye hum usko utni provide, aisi information jis se user ke len dena nhi usko hide kar dety hen

class Person:

    def _init_(self, user_name, user_age, roll_no): # Constructor
        self.name = user_name # --> these are attributes
        self.age = user_age
        self.__roll_no = roll_no # --> access modifiers (Public, Private, Protected)
        self.transportation = ["car", "bike", "bus"]

    def get_roll_no(self): # Getter function
        return self.__roll_no # -> 1234

# #instance
person1 = Person("Jabbar", 30, 1234) #Passing argument
print(person1.get_roll_no())

In [ ]:
from dataclasses import dataclass

@dataclass
class Employee:
    name: str
    __employee_id: int


    def salary_milgayi(self):
      print(f"{self.name} ko Salary Mil gayi")


    def kitni_salary_milgayi(self):
      if self.__employee_id == 1:
        return 100000
      elif self.__employee_id == 2:
          return 200000
      else:
          "Kuch nhi"


jabbar = Employee("Jabbar", 1)

jabbar.salary_milgayi()
print(jabbar.kitni_salary_milgayi())

Jabbar ko Salary Mil gayi
100000

**Inheritance**

In [ ]:
# Inheritance

from dataclasses import dataclass


class Person:
    def _init_(self, user_name, user_age):
        self.name = user_name
        self.age = user_age

def Male(Person):
    def _init_(self):
        super()._init_("Ali", 30)
        self.income = 100000

male1 = Male()
print(male1.income)
print(male1.name)

Jabbar ko Salary Mil gayi
100000